#heading {
    color: white;
    background-color: black;
}

body{
    background-color: beige;
}
.siuu {
    color: white;
    background-color: black;
}

button{
    background-color: blue;
    color:white;
}
